
<link href="~/css/ClubFeedLayout.css" rel="stylesheet" type="text/css" />
<body>
    <header>
        <h2>Club Feed</h2>
    </header>

    <section>
        <event_header>
            <ul>
                <li><h2>Club Name</h2></li>
                <li>Event Title</li>
                <li>Date & Time</li>
                <li>Location</li>
            </ul>
        </event_header>
        <event_detail>
            <h1>Event Title</h1>
            <p>This is our very fun event</p>
        </event_detail>
    </section>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
