
<link href="~/css/EventListLayout.css" rel="stylesheet" type="text/css" />

<body>
    <header>
        <h2>ClubIt Event List</h2>
    </header>
    <table>
        <tr>
            <th>Club Name</th>
            <th>Title</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>Basket Weaving</td>
            <td>Basket Weaving New Years extravaganza!</td>
            <td>1/1/2019</td>
        </tr>
    </table>
    <section>
        <button>
            New Event
        </button>
        <button>
            View More Events
        </button>
    </section>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}